.link-bubble {
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 48px;
  border: 1px solid #FFFFFF40;
  height: 96px;
  padding: 4px 24px 4px 24px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  display: flex;
  width: fit-content;
  font-size: 24pt;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

a.link-bubble {
  text-decoration: none !important;
}

a.link-bubble:hover {
  background-color: white;
}

.link-bubble-apple-music::before {
  content: "";
  background-image: url('../../public/img/service/apple_music.svg');
  background-size: 64px;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 16px;
}

.link-bubble-spotify::before {
  content: "";
  background-image: url('../../public/img/service/spotify.png');
  background-size: 64px;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 16px;
}

.link-bubble-tiktok::before {
  content: "";
  background-image: url('../../public/img/service/tiktok.png');
  background-size: 64px;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 16px;
}

.link-bubble-youtube::before {
  content: "";
  background-image: url('../../public/img/service/youtube.png');
  background-size: 64px;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 16px;
}